/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  overflow-x: hidden; /* Prevent scrollbars */

  background: rgb(146, 236, 237);
  background: linear-gradient(
    0deg,
    rgba(146, 236, 237, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

h1 {
  font-family: "Righteous", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
}

:root {
  --primary-color: #007f81;
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

nav > .title > h1 {
  cursor: default;
  font-family: "Righteous", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 70px;
  opacity: 0;
  transition: opacity 0.4s ease;
  color: #007f81;
}

/* NAVBAR */
nav {
  background-color: white;

  display: flex;
  justify-content: space-between;

  margin: auto;
  align-items: center;
  border-bottom: 3px solid grey;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
}
nav > .title > h1 {
  opacity: 1;
}

nav > .title {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 30px;
  margin-bottom: 10px;
}

nav > .title > p {
  cursor: default;
  color: black;

  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  overflow-x: hidden; /* Prevent scrollbars */
  font-size: 20px;
}
nav > ul {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
}

nav > ul > li {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  position: relative;
}

a:visited {
  color: black;
}

nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: black;
  transition: width 0.3s ease, left 0.3s ease;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}

/* showcase */

.core-mention {
  text-transform: uppercase;
  font-family: "Righteous", sans-serif;
}

.showcase {
  cursor: default;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  margin-bottom: 10vh;
  margin-top: 5vh;
}
.showcase > h1 {
  max-width: 75%;
  font-family: "Playfair Display", serif;
  line-height: 1.4;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  font-size: 80px;
}

.showcase p {
  max-width: 45%;
  padding-top: 30px;
  margin: 10px;
  font-size: 30px;
  font-weight: 350;
  text-align: center;
}

.showcase .btn {
  margin-top: 20px;
}

.btn {
  padding: 17px;
  background: lightblue;
  border: 3px solid lightblue;
  border-radius: 17px;

  text-transform: uppercase;
  font-size: 20px;

  transition: background-color 0.3s ease-in, color 0.3s ease-in,
    border-color 0.3s ease-in; /* Add transition for background-color and color */
}

.btn:hover {
  background-color: #007f81;
  border-color: #007f81;
  color: white;
}

.pretend-website {
  height: 80vh;
  width: 100%;
  background-color: white;
  border: 2px solid white;

  margin: auto;
}

.whatsapp-sticky {
  width: 45px;
  height: 45px;
  border: 3px solid white;
  background-color: white;

  border-radius: 0 15px 15px 0;

  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1000;
  transform: translateY(180px);
  margin-top: -45px; /* Move it up 50px */
}

.whatsapp-sticky > img {
  height: 40px;
  width: 40px;
}

.pretend-nav {
  max-width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  margin: auto;
  border-bottom: 3px solid orange;
}

.pretend-nav > .pretend-logo > .pretend-title {
  font-weight: 500;
  font-size: 20px;
}

.pretend-nav > .pretend-contact {
  display: flex;
  margin-right: 20px;
  align-items: baseline;
}

.pretend-nav > .pretend-contact {
  display: flex;
  align-items: top;
}

.pretend-nav > i {
  font-size: 35px;
  color: #333;
}

.pretend-nav > .pretend-logo > i {
  margin-right: 10px;
  font-size: 35px;
  color: #333;
}

.pretend-nav > .pretend-logo {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0;
}

.pretend-login {
  color: white;
  padding: 5px;
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
  border-radius: 5px;
  margin-right: 10px;
}

h4 {
  font-family: "Lato";
  line-height: 1.4;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

.pretend-showcase {
  position: relative;
  height: 500px;
  width: 100%; /* Set the width of the div */
  height: 400px; /* Set the height of the div */
  background-image: url("img/technical.jpg"); /* Set the background image */
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex; /* Optional: to center content */
  align-items: center; /* Optional: to center content vertically */
  justify-content: center; /* Optional: to center content horizontally */
  color: white; /* Optional: text color */
  filter: brightness(0.4);
}

.pretend-showcase-text {
  position: absolute;
  transform: translate(15px, -230px);
  max-width: 90%;
  margin: auto;
  color: white;
  margin-top: -25px; /* Move it up 50px */
}
/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 500vw;
  height: 500vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.margin {
  margin-bottom: 600px;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  body {
    overflow-x: hidden; /* Prevent scrollbars */
    max-width: 100%;
    margin: 0 auto;
  }

  .carousel-wrapper {
    overflow-x: hidden;
  }
  nav > ul {
    display: none;
    grid-template-columns: 1fr;
    max-width: 90%;
    margin: auto;
    justify-items: center;
  }

  nav {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden; /* Prevent scrollbars */
    max-width: 100%;
    margin: 0 auto;
  }

  .carousel-wrapper {
    overflow-x: hidden;
  }

  nav > title {
    cursor: default;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .showcase > h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 45px;
    max-width: 95%;
  }

  .showcase > p {
    max-width: 90%;
    font-size: 20px;
  }
}

.carousel-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  white-space: nowrap;
}

.carousel-content {
  display: flex;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

  animation-name: carousel;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carousel-title {
  display: flex;
  justify-content: center;
}

.carousel-content > img {
  margin: 10px;
}

.clyde-logo {
  width: 400px;
  height: 150px;
}

.sikh-logo {
  width: 200px;
  height: 200px;
}

.carousel-title > h1 {
  font-size: 50px;
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu-wrap {
    display: none;
  }

  body {
    overflow-x: hidden; /* Prevent scrollbars */
    max-width: 100%;
    margin: 0 auto;
  }

  .carousel-wrapper {
    overflow-x: hidden;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .showcase > p {
    font-size: 30px;
  }

  .pretend-website {
    max-width: 80%;
    border-radius: 20px;
  }
  .pretend-showcase {
    background-size: cover; /* Cover the entire div */
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }

  h4 {
    font-size: 50px;
  }

  .pretend-showcase-text {
    transform: translate(400px, -200px);
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
