*,
*::before,
*::after {
  font-family: 'Poppins', sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in width/height calculations */
  max-width: 100%;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

/* Basic styles for links */
a {
  color: white; /* Default link color */
  text-decoration: none; /* Remove underline */
  transition: all 0.3s ease; /* Smooth transition for all changes */
}

a:hover {
  text-decoration: underline;
}

.orange {
  color: orange;
}

.blue {
  color: #005acd;
}

.white {
  color: white;
}

h1,
h3 {
  text-transform: uppercase;
}

nav {
  border-bottom: solid 5px orange;
  background-color: #01143b;
  position: sticky;
  top: 0;
  z-index: 1; /*Add this*/
}

#nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo > img {
  width: 110px;
  height: 100px;
  padding-left: 1vw;
}

#nav-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: end;
  justify-items: end;
  align-self: center;
  padding-right: 5vw;
}

.nav-item > a {
  color: white;
  margin-right: 1vw;
  padding: 1vw;
}

.welcome-card {
  overflow-y: hidden;
  max-height: 60vh;
  width: 100%;

  display: grid;
  align-items: center;
  justify-items: center;
}

.welcome-card > img {
  /* filter: brightness(0.8); Adjust brightness */
  width: 100%;
}

.welcome-card {
  position: relative;
  border-bottom: 5px solid orange;
}

.overlay-text {
  position: absolute; /* Position the overlay absolutely */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  color: white; /* Text color */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px; /* Padding around the text */
  text-align: center; /* Center the text */
  border-radius: 5px; /* Optional: rounded corners */
}

#mission-statement {
  margin: 5vh auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 90%;
  column-gap: 20px;
  row-gap: 10px;
}

#mission-statement > p {
  font-size: larger;
}

#mission1,
#mission2 {
  width: 100%; /* Ensure child divs take full width */
  box-sizing: border-box; /* Include padding and border in width */
}

#mission1 {
  border: 2px solid grey; /* Green border */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the container */
  background-color: #ffffff; /* White background */
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2); /* Slight shadow */
}

#mission1 > h1 {
  font-size: 5vw; /* Responsive font size */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides any overflow text */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
  margin: 0; /* Remove default margin */

  text-align: center;
}

iframe {
  width: 100%; /* Make the iframe responsive */
  height: 500px; /* Set a fixed height for the iframe */
  border: 0; /* Remove border */
}

#mission-map {
  width: 100%; /* Make sure the map container is full width */
}

#cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  max-width: 90%;
  margin: 0 auto;
  gap: 20px; /* Space between grid items */
}

#landing-cards {
  background-color: #ffffff; /* White background for items */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding inside grid items */
  text-align: center; /* Center text alignment */
}

#landing-cards > img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners for images */
}

#landing-cards:hover {
  box-shadow: 1px 5px 15px #ffcc00; /* Darker shadow on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
  #cards-section {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
}

#basic-cover {
  text-align: center;
  align-self: start;
  background-color: white; /* Background color of the div */
  padding: 10px; /* Padding inside the div */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

#basic-cover:hover {
  box-shadow: 1px 10px 22px #ffcc00; /* Darker shadow on hover */
}

#contact-form-container {
  max-width: 90%; /* Adjust to ensure it fits in mobile view */
  margin: 1vh auto;
  padding: 3vh;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form-container label {
  display: block;
  margin-bottom: 5px;
}

#contact-form-container input,
#contact-form-container textarea {
  width: 100%;
  padding: 5 px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form-container textarea {
  height: 50px;
  resize: vertical;
}

#contact-form-container button[type='submit'] {
  background-color: #4caf50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact-form-container button[type='submit']:hover {
  background-color: #3e8e41;
}

#contact-form > h1 {
  text-align: center;
}

#contact-form {
  margin-top: 50px;
  margin-bottom: 70px;
}

.footer {
  border-top: solid 5px orange;
  max-width: 100%;
  background-color: #01143b; /* Footer background color */
  color: white; /* Text color */
  padding: 20px; /* Padding inside footer */
  text-align: center; /* Center text alignment */
}

.footer-content {
  margin-bottom: 20px; /* Space between content and bottom */
}

.footer-links {
  margin: 10px 0; /* Space above and below links */
}

.footer-links a {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
  margin: 0 15px; /* Space between links */
}

.footer-links a:hover {
  text-decoration: underline; /* Underline on hover */
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.5); /* Light border on top */
  padding-top: 10px; /* Padding above copyright text */
}

button {
  padding: 10px 20px;
  background-color: #005acd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004ba0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Max width for larger screens */
  border-radius: 8px; /* Rounded corners */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.alt-content {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;

  justify-content: center;
}

.alt-content * {
  padding: 5px;
  text-transform: uppercase;
  font-size: 25px;
}

.khanda {
  height: 100px;
  width: 100px;
  margin-bottom: 2vh;
}

@media (max-width: 700px) {
  .logo > img {
    width: 100px;
    height: 100px;
    padding-left: 1vw;
  }

  .footer-content {
    max-width: 100%;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1vh 0vw;
  }

  .alt-content p {
    font-size: 15px;
  }

  .alt-content a {
    max-width: 100%;
  }

  h1 {
    size: 20px;
  }

  #mission-statement {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .nav-item > svg {
    height: 50px;
    width: 50px;
  }

  body {
    max-width: 100%;
    margin: 0 auto;
  }

  .welcome-card {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Hide overflow */
    width: 100%; /* Set width as needed */

    position: relative; /* Positioning context for absolute child */
    height: 60vh;
  }

  .welcome-card > img {
    max-width: none; /* Prevent image scaling */
    max-height: none; /* Prevent image scaling */
    position: absolute; /* Allow positioning */
    top: 50%; /* Move to the middle */
    left: 50%; /* Move to the middle */
    transform: translate(-50%, -50%); /* Center the image */
  }
}

@media (min-width: 1000px) {
  .overlay-text > h1 {
    font-size: 80px;
  }
}
